
.aside-contact
    display grid
    position: relative
    font-family: PoppinsLight
    gap: 5rem
    justify-content: center
    width: 100%

    @media screen and (max-width: 1150px)
        gap: 1rem

    &__aside-images 
        display grid

    &__image-main
        z-index 1
        width 350px 

        @media screen and (max-width: 1250px)
            width: 80%

    &__image-contact
        position: absolute;
        width: 750px
        transform: translate(-20%, 42%)

        @media screen and (max-width: 1550px)
            width: 80%
            left: 8.5%
            top: 20%
            transform: translate(0%, 0%)

        @media screen and (max-width: 1200px)
            top: 30%
            left: 7%
        @media screen and (max-width: 1024px)
            width: 90%
            left: 3%

        
    &__one
        z-index: 2

    &__two
        z-index: 0

    //Contact info

    &__contact-info 
        display: grid
        justify-content: center
        gap: 1rem
        height: 3.8rem
        border-left: 2px solid $Geraldine
        padding-left: 1.5rem

    &__professional
            letter-spacing: .4rem
            font-weight: 700
            color: $IronsideGrey
            text-transform: uppercase

    &__info
        display: flex
        gap: 0rem 3rem

    &__telephone
        font-family: PoppinsBold  
        color: $IronsideGrey
    
    &__telephone, &__email
        display: flex
        align-items: center
        gap: 0rem .7rem
