.footer-info-socials
     display: flex
     background-color: $Black
     padding: 1rem 2rem
     align-items: center
     height: 3rem
     align-self: end
     justify-content: space-between

     @media screen and (max-width: 600px)
          flex-direction: column
          height: 100%
          gap: .5rem
          align-items: start

     &__copyright
          font-family: PoppinsLight
          color: $CottonSeed
          font-size $FooterFontSize

     &__socials
          display: flex
          gap: 0.7rem
          list-style none

     &__socials-links
          @media screen and (max-width: 450px)
               width: 2.2rem
     
     &__socials-links:hover
          filter: invert(39%) sepia(5%) saturate(27%) hue-rotate(13deg) brightness(97%) contrast(86%); 


