.footer-info-socials
     display: flex
     background-color: $Black
     padding: 0rem 3rem
     min-height: 3.2rem
     align-items: center
     justify-content: space-between

     &__copyright
          font-family: PoppinsLight
          color: $CottonSeed
          font-size 0.7rem

     &__socials
          display: flex
          gap: 0.5rem
          list-style none
     
     &__socials-links:hover
          filter: invert(39%) sepia(5%) saturate(27%) hue-rotate(13deg) brightness(97%) contrast(86%); 


