.footer-info-socials
     display: flex
     background-color: $Black
     padding: 1rem 2rem
     align-items: center
     height: 3rem
     align-self: end
     justify-content: space-between

     &__copyright
          font-family: PoppinsLight
          color: $CottonSeed
          font-size 0.7rem

     &__socials
          display: flex
          gap: 0.5rem
          list-style none
     
     &__socials-links:hover
          filter: invert(39%) sepia(5%) saturate(27%) hue-rotate(13deg) brightness(97%) contrast(86%); 


