.header-contact
    display: flex
    align-items: flex-end
    padding: 1.5rem 0rem 0rem 4rem
    position: fixed
  
    p
    font-weight: 900
    text-transform: uppercase
    position: absolute
    color: $Geraldine
    font-family: PoppinsExtraBold
    font-size: 1.5rem