.header-contact
    display: flex
    align-items: flex-end
    padding: 1.5rem 0rem 0rem 4rem
    position: fixed
  
    p
    font-weight: 900
    text-transforrm: uppercase
    position: absolute
    color: $Geraldine
    font-family: PoppinsExtraBold
    font-size: $HeaderLogoSize

    @media screen and (max-width: 1550px)
        padding: 1.5rem 0rem 0rem 3rem
    
    @media screen and (max-width: 1350px)
        padding: 1.5rem 0rem 0rem 2rem

     @media screen and (max-width: 1150px)
        position relative