
main 
    display: grid
    grid-template-columns: 2fr 1fr 0.5fr

    @import "aside"

    @import "menu"
        
    @import "form"

    @media screen and (max-width: 1550px)
        grid-template-columns: 1.5fr 1fr
        
    @media screen and (max-width: 1250px)
        grid-template-columns: 2fr 1fr
    
    @media screen and (max-width 900px)
        grid-template-columns: 1fr
        justify-items: center
    