
.form-contact

    &__select-field
        height: 100%
        border: none
        display: flex
        flex-direction: column
        justify-content: flex-end
        gap: 0.5rem

    &__select-label
        font-family: PoppinsLight
        font-size: $StandardFontSizer

    &__select-container
        position: relative;
        width: 90%
        font-family: PoppinsLight

        @media screen and (max-width 900px)
            width: 80vw
            border-radius: .5rem
        
    &__select-arrow
        position: absolute;
        right: 5%;
        top: 35%;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
    
    &__select:focus, &__select:hover
            outline: none;
            border-color: $LightRed

    &__select
        -webkit-appearance: none;
        height: 3.5rem
        width: 100%;
        color: $Black
        border: 1px solid $Cloud
        border-radius: 5px;
        padding-left: 1.2rem
        background: white;
        cursor: pointer;
        font-family: inherit;
        font-size: $StandardFontSizer
        transition: all 150ms ease; 

        @media screen and (max-width 900px)
            border-radius: .8rem
    
    &__option
        color: $Black

    &__option[value=""][disabled] 
        display: none;
    
    &__span-error-select
        position: absolute
        left: 0
        bottom: -50%
        color: $LightRed
        