@font-face {
  font-family: PoppinsItalic;
  src: url("../assets/fonts/Poppins-Italic.woff");
}
@font-face {
  font-family: PoppinsThin;
  src: url("../assets/fonts/Poppins-Thin.woff");
}
@font-face {
  font-family: PoppinsLight;
  src: url("../assets/fonts/Poppins-Light.woff");
}
@font-face {
  font-family: PoppinsMedium;
  src: url("../assets/fonts/Poppins-Medium.woff");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins-Bold.woff");
}
@font-face {
  font-family: PoppinsExtraBold;
  src: url("../assets/fonts/Poppins-ExtraBold.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}
body {
  height: 100vh;
  display: grid;
  gap: 3rem;
  overflow-x: hidden;
}
@media screen and (max-width: 1150px) {
  body {
    gap: 0rem;
  }
}
.header-contact {
  display: flex;
  align-items: flex-end;
  padding: 1.5rem 4rem;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  font-weight: 900;
  text-transforrm: uppercase;
  color: #ff8585;
  font-family: PoppinsExtraBold;
  font-size: 1.5rem;
  position: absolute;
}
.header-contact__hamburger-menu {
  display: none;
  height: 100%;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 1550px) {
  .header-contact__hamburger-menu {
    display: block;
    cursor: pointer;
  }
}
.header-contact__hamburger-bar {
  height: 0.3rem;
  width: 100%;
  margin: 0.2rem 0px;
  background: #ff8585;
}
@media screen and (max-width: 1550px) {
  .header-contact {
    padding: 1.5rem 3rem;
  }
}
@media screen and (max-width: 1350px) {
  .header-contact {
    padding: 1.5rem 2rem;
  }
}
@media screen and (max-width: 1150px) {
  .header-contact {
    position: relative;
    padding: 1rem 2rem;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .header-contact {
    padding: 1.5rem 2rem;
  }
}
main {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
}
main .aside-contact {
  display: grid;
  position: relative;
  font-family: PoppinsLight;
  gap: 5rem;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 1150px) {
  main .aside-contact {
    gap: 1rem;
  }
}
@media screen and (max-width: 900px) {
  main .aside-contact {
    width: 80vw;
    gap: 12rem;
    justify-content: start;
  }
}
@media screen and (max-width: 620px) {
  main .aside-contact {
    gap: 8rem;
  }
}
@media screen and (max-width: 550px) {
  main .aside-contact {
    gap: 6rem;
  }
}
main .aside-contact__aside-images {
  display: grid;
}
main .aside-contact__image-main {
  z-index: 1;
  width: 350px;
}
@media screen and (max-width: 900px) {
  main .aside-contact__image-main {
    width: 80vw;
  }
}
main .aside-contact__image-contact {
  position: absolute;
  width: 750px;
  transform: translate(-20%, 42%);
}
@media screen and (max-width: 1550px) {
  main .aside-contact__image-contact {
    width: 80%;
    left: 8.5%;
    top: 20%;
    transform: translate(0%, 0%);
  }
}
@media screen and (max-width: 1200px) {
  main .aside-contact__image-contact {
    top: 25%;
    left: 7%;
  }
}
@media screen and (max-width: 900px) {
  main .aside-contact__image-contact {
    top: 37%;
    left: 0;
  }
}
main .aside-contact__one {
  z-index: 2;
}
main .aside-contact__two {
  z-index: 0;
}
main .aside-contact__contact-info {
  display: grid;
  justify-content: center;
  gap: 1rem;
  height: 3.8rem;
  border-left: 2px solid #ff8585;
  padding-left: 1.5rem;
}
@media screen and (max-width: 900px) {
  main .aside-contact__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    gap: 0.3rem;
  }
}
@media screen and (max-width: 500px) {
  main .aside-contact__contact-info {
    padding-left: 1rem;
  }
}
main .aside-contact__professional {
  letter-spacing: 0.4rem;
  font-weight: 700;
  color: #666;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  main .aside-contact {
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
  }
}
main .aside-contact__info {
  display: flex;
  gap: 0rem 3rem;
}
@media screen and (max-width: 900px) {
  main .aside-contact__info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}
main .aside-contact__telephone {
  font-family: PoppinsBold;
  color: #666;
}
main .aside-contact__telephone,
main .aside-contact__email {
  display: flex;
  align-items: center;
  gap: 0rem 0.7rem;
}
main .side-menu {
  display: flex;
  text-align: end;
  flex-direction: column;
  align-items: end;
  padding: 2rem 3rem 0rem 0rem;
}
@media screen and (max-width: 1550px) {
  main .side-menu {
    transform: translateX(200%);
    display: none;
  }
  main .side-menu--open {
    transform: translateX(0%);
    transition: 0.2s linear;
    display: block;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    border-left: 1px solid #ff8585;
  }
}
main .side-menu__socials-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 3.5rem;
}
main .side-menu__button-close-menu {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;
  visibility: hidden;
}
@media screen and (max-width: 1550px) {
  main .side-menu__button-close-menu {
    visibility: visible;
  }
}
main .side-menu__socials {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  justify-content: flex-end;
}
main .side-menu__socials-icons {
  filter: invert(47%) sepia(32%) saturate(397%) hue-rotate(331deg) brightness(121%) contrast(117%);
}
@media screen and (max-width: 450px) {
  main .side-menu__socials-icons {
    justify-content: flex-start;
  }
}
main .side-menu__socials-icons:hover {
  filter: invert(47%) sepia(32%) saturate(4497%) hue-rotate(331deg) brightness(101%) contrast(117%);
}
main .side-menu__navigation {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.3rem;
}
main .side-menu__navigation-link {
  text-decoration: none;
  color: #000;
  font-family: PoppinsLight;
}
main .side-menu__submenu {
  position: relative;
  margin-top: 0.7rem;
  font-size: 0.9rem;
}
main .side-menu__submenu::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1px;
  background: #ff8585;
  top: -7px;
  right: 0;
}
main .side-menu .material-symbols-outlined {
  color: #ff8585;
}
@media screen and (max-width: 1550px) and (max-width: 650px) {
  main .side-menu--open {
    width: 100%;
  }
}
main .section-contact {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
}
@media screen and (max-width: 900px) {
  main .section-contact {
    width: 80vw;
  }
}
main .section-contact .form-contact {
  display: grid;
  width: 100%;
  height: 60%;
  font-family: PoppinsLight;
}
@media screen and (max-width: 1250px) {
  main .section-contact .form-contact {
    height: 90%;
  }
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact {
    height: 100%;
    margin-top: 3rem;
    justify-content: center;
    padding-bottom: 5rem;
  }
}
main .section-contact .form-contact__span-error {
  color: #ff4f4f;
  position: absolute;
  top: 14%;
  left: 15%;
  pointer-events: none;
}
@media screen and (max-width: 1250px) {
  main .section-contact .form-contact__span-error {
    font-size: 0.8rem;
    top: 20%;
    left: 40%;
    width: 180px;
  }
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact__span-error {
    margin-bottom: 5rem;
  }
}
main .section-contact .form-contact .form-contact__select-field {
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}
main .section-contact .form-contact .form-contact__select-label {
  font-family: PoppinsLight;
  font-size: 1rem;
}
main .section-contact .form-contact .form-contact__select-container {
  position: relative;
  width: 90%;
  font-family: PoppinsLight;
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact .form-contact__select-container {
    width: 80vw;
    border-radius: 0.5rem;
  }
}
main .section-contact .form-contact .form-contact__select-arrow {
  position: absolute;
  right: 5%;
  top: 35%;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}
main .section-contact .form-contact .form-contact__select:focus,
main .section-contact .form-contact .form-contact__select:hover {
  outline: none;
  border-color: #ff4f4f;
}
main .section-contact .form-contact .form-contact__select {
  -webkit-appearance: none;
  height: 3.5rem;
  width: 100%;
  color: #000;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding-left: 1.2rem;
  background: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  transition: all 150ms ease;
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact .form-contact__select {
    border-radius: 0.8rem;
  }
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact .form-contact__select {
    height: 2.5rem;
  }
}
main .section-contact .form-contact .form-contact__option {
  color: #000;
}
main .section-contact .form-contact .form-contact__option[value=""][disabled] {
  display: none;
}
main .section-contact .form-contact .form-contact__span-error-select {
  position: absolute;
  left: 0;
  bottom: -50%;
  color: #ff4f4f;
}
main .section-contact .form-contact .form-contact__main-info {
  margin-top: 1rem;
}
main .section-contact .form-contact .form-contact__container-input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  border: none;
}
main .section-contact .form-contact .form-contact__input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  padding: 1rem 0rem 0rem 0rem;
  outline: none;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 500;
  font-family: PoppinsMedium;
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact .form-contact__input {
    width: 80vw;
  }
}
main .section-contact .form-contact .form-contact__input:focus,
main .section-contact .form-contact .form-contact__input:hover {
  border-bottom: 1.5px solid #ff4f4f;
  transition: all 150ms ease;
}
main .section-contact .form-contact .form-contact__label {
  color: #000;
  position: absolute;
  font-family: PoppinsLight;
  pointer-events: none;
  font-size: 1rem;
  transition: 0.2s ease all;
}
main .section-contact .form-contact .form-contact__label--active {
  bottom: 25px;
  transition: 0.2s ease all;
}
main .section-contact .form-contact .form-contact__label:hover {
  cursor: text;
}
main .section-contact .form-contact .form-contact__message {
  display: grid;
  gap: 0.3rem;
  border: none;
  margin-top: 2.5rem;
  position: relative;
}
main .section-contact .form-contact .form-contact__message__span-error-message {
  position: absolute;
  color: #ff4f4f;
  bottom: -19%;
}
@media screen and (max-width: 1250px) {
  main .section-contact .form-contact .form-contact__message__span-error-message {
    font-size: 0.8rem;
    bottom: -10%;
  }
}
main .section-contact .form-contact .form-contact__message-label {
  font-family: PoppinsLight;
  font-size: 1rem;
}
main .section-contact .form-contact .form-contact__message-area {
  width: 90%;
  font-family: PoppinsMedium;
  resize: none;
  height: 7.5rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: 1px solid #c4c4c4;
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact .form-contact__message-area {
    width: 80vw;
    border-radius: 0.5rem;
  }
}
main .section-contact .form-contact .form-contact__message-area:focus,
main .section-contact .form-contact .form-contact__message-area:hover {
  border: 1px solid #ff4f4f;
  transition: all 150ms ease;
}
main .section-contact .form-contact .form-contact__message-area::placeholder {
  padding: 1rem;
  font-family: PoppinsLight;
}
main .section-contact .form-contact__send-form {
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 90%;
  margin-top: 2rem;
}
@media screen and (max-width: 1250px) {
  main .section-contact .form-contact__send-form {
    flex-direction: column;
    gap: 2rem;
    height: 120px;
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact__send-form {
    width: 80vw;
  }
}
main .section-contact .form-contact .form-contact__send-button {
  width: 12rem;
  border-radius: 0.3rem;
  display: flex;
  border: none;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-family: PoppinsLight;
  font-size: 1rem;
  background-color: #ff8585;
  color: #fff;
  cursor: pointer;
  height: 50px;
  transition: 0.2s ease all;
}
@media screen and (max-width: 1250px) {
  main .section-contact .form-contact .form-contact__send-button {
    width: 100%;
  }
}
main .section-contact .form-contact .form-contact__send-button-image {
  width: 1rem;
  height: 1rem;
  transform: translateX(3rem);
}
@media screen and (max-width: 900px) {
  main .section-contact .form-contact .form-contact__send-button-image {
    transform: translateX(6rem);
  }
}
main .section-contact .form-contact .form-contact__send-button:hover {
  background-color: #ff4f4f;
  transition: 0.2s ease all;
}
main .section-contact .form-contact .form-contact__human-verification {
  width: 12rem;
  border-radius: 0.3rem;
  display: flex;
  border: none;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-family: PoppinsLight;
  font-size: 1rem;
  flex-direction: row-reverse;
  background: #f5f5f5;
  gap: 0rem 0.5rem;
  height: 50px;
  position: relative;
}
@media screen and (max-width: 1250px) {
  main .section-contact .form-contact .form-contact__human-verification {
    width: 100%;
  }
}
main .section-contact .form-contact .form-contact__human-verification__span-error-human {
  color: #ff4f4f;
  position: absolute;
  bottom: -100%;
}
@media screen and (max-width: 1250px) {
  main .section-contact .form-contact .form-contact__human-verification__span-error-human {
    bottom: -50%;
  }
}
main .section-contact .form-contact .form-contact__checkbox {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: #ff8585;
}
@media screen and (max-width: 1550px) {
  main {
    grid-template-columns: 1.5fr 1fr;
  }
}
@media screen and (max-width: 1250px) {
  main {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.footer-info-socials {
  display: flex;
  background-color: #000;
  padding: 1rem 2rem;
  align-items: center;
  height: 3rem;
  align-self: end;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .footer-info-socials {
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
    align-items: start;
  }
}
.footer-info-socials__copyright {
  font-family: PoppinsLight;
  color: #bdbdbd;
  font-size: 0.7rem;
}
.footer-info-socials__socials {
  display: flex;
  gap: 0.7rem;
  list-style: none;
}
@media screen and (max-width: 450px) {
  .footer-info-socials__socials-links {
    width: 2.2rem;
  }
}
.footer-info-socials__socials-links:hover {
  filter: invert(39%) sepia(5%) saturate(27%) hue-rotate(13deg) brightness(97%) contrast(86%);
}
