//Colors
$Geraldine = #FF8585 
$Cosmos = #FFDADA 
$LightRed = #FF4F4F
$Black = #000000 
$IronsideGrey = #666666 
$CottonSeed = #BDBDBD
$Cloud = #C4C4C4 
$WhiteSmoke = #F5F5F5 
$White = #ffffff

//Font Size
$StandardFontSizer = 1rem
$FooterFontSize = 0.7rem
$HeaderLogoSize = 1.5rem
$SubmenuFontSize = 0.9rem

@font-face
  font-family PoppinsItalic
  src url(../assets/fonts/Poppins-Italic.woff)

@font-face
  font-family PoppinsThin
  src url(../assets/fonts/Poppins-Thin.woff)

@font-face
  font-family PoppinsLight
  src url(../assets/fonts/Poppins-Light.woff)

@font-face
  font-family PoppinsMedium
  src url(../assets/fonts/Poppins-Medium.woff)

@font-face
  font-family PoppinsBold
  src url(../assets/fonts/Poppins-Bold.woff)

@font-face
  font-family PoppinsExtraBold
  src url(../assets/fonts/Poppins-ExtraBold.woff)

* 
  margin 0
  padding 0
  box-sizing border-box
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%
  user-select: none

body 
  height: 100vh;
  display: grid
  gap: 3rem
  overflow-x: hidden 

  @media screen and (max-width: 1150px)
      gap: 0rem


@import "./layout/header"
@import "./layout/main"
@import "./layout/footer"


