$primary-color = #333
@import "./components/header"

@font-face
  font-family PoppinsBold
  src url(../assets/fonts/Poppins-Bold.woff2)

* 
  margin 0
  padding 0
  box-sizing border-box
  font-family: PoppinsBold
