$primary-main = #FF8585
$primary-light = #FFDADA
$primary-dark = #FF4F4F

@import "./layout/header"

@font-face
  font-family PoppinsItalic
  src url(../assets/fonts/Poppins-Italic.woff)

@font-face
  font-family PoppinsMedium
  src url(../assets/fonts/Poppins-Medium.woff)

@font-face
  font-family PoppinsThin
  src url(../assets/fonts/Poppins-Thin.woff)

@font-face
  src url(../assets/fonts/Poppins-Bold.woff)
  font-family PoppinsBold

* 
  margin 0
  padding 0
  box-sizing border-box
  font-family: PoppinsMedium

body 

